terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.exe
terraform/terraform.tfstate
terraform/terraform.tfstate.*
terraform/*.tfvars
!terraform/terraform.tfvars.example
terraform/.terraform.tfstate.lock.info
