#cloud-config

keyboard:
  layout: us

users:
  - default
  - name: chris
    groups:
      - sudo
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    lock_passwd: false

chpasswd:
  expire: false
  users:
    - name: root
      password: "1"
      type: text
    - name: chris
      password: "1"
      type: text

ssh_pwauth: true

package_update: true
package_upgrade: false

packages:
  - qemu-guest-agent
  - git

output:
  all: '| tee -a /var/log/cloud-init-output.log'

runcmd:
  - echo "=================================================="
  - echo "Rozpoczynam konfigurację VM"
  - echo "=================================================="

  - echo "[1/5] Instalacja wymaganych pakietów..."
  - apt-get update
  - DEBIAN_FRONTEND=noninteractive apt-get install -y git ca-certificates qemu-guest-agent

  - echo "[4/5] Uruchamianie QEMU Guest Agent..."
  - systemctl enable --now qemu-guest-agent

  - echo "[2/5] Pobieranie HomeLAB-DNS..."
  - rm -rf /opt/HomeLAB-DNS
  - mkdir -p /opt/HomeLAB-DNS
  - git clone --depth 1 https://github.com/chmajster/HomeLAB-DNS.git /opt/HomeLAB-DNS

  - echo "[3/5] Instalacja HomeLAB-DNS..."
  - chmod +x /opt/HomeLAB-DNS/install_HomeLAB-dns.sh
  - cd /opt/HomeLAB-DNS && ./install_HomeLAB-dns.sh --silent --web-ui-ip 0.0.0.0 --port 81 --forward-dns-server 1.1.1.1 --panel-login admin --panel-password '123456789012' --panel-api-token 'cldns_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'


  - echo "[5/5] Konfiguracja zakończona."

final_message: |
  ==================================================
  CLOUD-INIT COMPLETED
  Version: $version
  Timestamp: $timestamp
  Uptime: $uptime
  Datasource: $datasource
  ==================================================