#cloud-config

keyboard:
  layout: us

users:
  - default
  - name: chris
    groups:
      - sudo
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    lock_passwd: false

chpasswd:
  expire: false
  users:
    - name: root
      password: "1"
      type: text
    - name: chris
      password: "1"
      type: text

ssh_pwauth: true

package_update: true
package_upgrade: false

packages:
  - qemu-guest-agent

output:
  all: '| tee -a /var/log/cloud-init-output.log'

runcmd:
  - echo "=================================================="
  - echo "Rozpoczynam konfigurację VM"
  - echo "=================================================="

  - echo "[1/2] Uruchamianie QEMU Guest Agent..."
  - systemctl enable --now qemu-guest-agent

  - echo "[2/2] Konfiguracja zakończona."

final_message: |
  ==================================================
  CLOUD-INIT COMPLETED
  Version: $version
  Timestamp: $timestamp
  Uptime: $uptime
  Datasource: $datasource
  ==================================================